/* The main style file to include other sylesheets: various media or css libraries */

$min-width-mobile: 300px;
$max-width-mobile: 760px;

$min-width-tablet: $max-width-mobile + 1;
$max-width-tablet: 1260px;

$min-width-desktop-small: $max-width-tablet + 1;
$max-width-desktop-small: 1356px;

$min-width-desktop-medium: $max-width-desktop-small + 1;
$max-width-desktop-medium: 1800px;

$min-width-desktop-large: $max-width-desktop-medium + 1;

// Non-media-dependent variables
$secondary-sidebar-item-height: 60px;

// TODO: use mixin, min-width only, maybe common should not be included N-times

// TODO: some refactor:
// http://thesassway.com/intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32

// TODO: move to utils.scss

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

/// Bootstrap

// Bootstrap variables
// TODO: set to values from app.scss
// @grid-float-breakpoint
$modal-inner-padding: 30px;
$screen-xs-min: $min-width-mobile;
$screen-sm-min: $min-width-tablet;
$screen-md-min: $min-width-desktop-small;
$screen-lg-min: $min-width-desktop-medium;


@import "bootstrap";
.row {
  margin-left: 0px;
  margin-right: 0px;
}

@import 'onedata-common';

@import 'colors';

@media screen
  and (min-width: $min-width-desktop-large) {
    $global-min-width: $min-width-desktop-large;
    @import 'media-variables/desktop-large';
    @import 'common';
    @import 'media-styles/desktop-large';
    @import 'components/one-table-common';
    @import 'components/one-table-desktop';
    @import 'components/dropdown';
}

@media screen
  and (min-width: $min-width-desktop-medium)
  and (max-width: $max-width-desktop-medium) {
    $global-min-width: $min-width-desktop-medium;
    @import 'media-variables/desktop-medium';
    @import 'common';
    @import 'media-styles/desktop-medium';
    @import 'components/one-table-common';
    @import 'components/one-table-desktop';
    @import 'components/dropdown';
}

@media screen
  and (min-width: $min-width-desktop-small)
  and (max-width: $max-width-desktop-small) {
    $global-min-width: $min-width-desktop-small;
    @import 'media-variables/desktop-small';
    @import 'common';
    @import 'media-styles/desktop-small';
    @import 'components/one-table-common';
    @import 'components/one-table-desktop';
    @import 'components/dropdown';
}

@media screen
  and (min-width: $min-width-tablet)
  and (max-width: $max-width-tablet) {
    $global-min-width: $min-width-tablet;
    @import 'media-variables/tablet';
    @import 'common';
    @import 'media-styles/tablet';
    @import 'components/one-table-common';
    @import 'components/one-table-mobile';
    @import 'components/dropdown';
}

// minimal layout, min-width-mobile not used in query
@media screen
  and (max-width: $max-width-mobile) {
    $global-min-width: $min-width-mobile;
    @import 'media-variables/mobile';
    @import 'common';
    @import 'media-styles/mobile';
    @import 'components/one-table-common';
    @import 'components/one-table-mobile';
    @import 'components/dropdown';
}

@import 'components/modal';
@import 'components/button';
@import 'components/notify';
@import 'components/file-upload';
@import 'components/permissions-table';
@import 'components/spin-button-base';
@import 'components/common-loader';
@import 'components/modal-types';
@import 'components/one-radio-button';
@import 'components/one-radio-group';



// FIXME temporary styles

.modal-body.file-permissions-modal {
  padding: 0;

  .modal-row.modal-row-main {
    padding: 25px 30px;
    margin-top: 0;
    margin-bottom: 0;

    &:not(:last-child) {
      border-bottom: solid 1px #D8D8D7;
    }

    &.heading {
      background-color: #F7F7F7;

      h1 {
        line-height: 18px;
        font-size: 18px;
        margin: 10px 0;
      }
    }
  }

  .one-radio-button {
    .radio-button-container {
      .radio-label {
        // text-transform: capitalize;
      }
    }
  }
}

.row-permission-type {
  margin-bottom: 10px;
}


.select-picker {
  .btn-default {
    padding: 0;

    color: inherit !important;
    background-color: transparent !important;

    &:hover {
      background-color: transparent !important;
    }

    &[disabled],
    &.disabled,
    &.disabled:hover,
    &.disabled:focus,
    &.disabled.focus,
    &[disabled]:hover,
    &[disabled]:focus,
    &[disabled].focus {
      background-color: transparent !important;
    }

    &:active:focus, &:active:hover, &:focus, &:active {
      background-color: transparent !important;
    }
  }

  .dropdown-menu {
    background-color: white;

    .search-filter {
      border-color: #E6E6E6;
      margin-bottom: 15px;
    }
  }
}

.col-permission-tool {
  position: relative;
  .permission-tools {
    position: relative;
    right: -38px;
  }
}

.permission-tool-icon {
  color: inherit;
  font-size: 28px;

  &.move-up {
    margin-right: -12px;
  }

  &:hover {
    color: $color-button-primary;
    text-decoration: none;
    cursor: hand; cursor: pointer;
  }
}

.ace-items {
  max-height: 260px;
  overflow-y: auto;

  .modal-row-main {
    &:nth-child(even) {
      background-color: #F7F7F7;
    }
  }

  .add-ace {
    display: table;
    color: inherit !important;

    &:hover {
      color: $color-button-primary !important;
      text-decoration: none;
    }

    .oneicon {
      display: table-cell;
      vertical-align: middle;
      font-size: 32px;
    }

    .link-label {
      display: table-cell;
      vertical-align: middle;
      padding-left: 8px;
    }
  }
}

// HACK FIXME
.col-permission-types-checkboxes {
  margin-top: -6px;
}

.modal .modal-dialog .modal-content {
  .select2-container.form-control {
    border: none;
    width: 100%;
    padding: 0;
    box-shadow: none;
    background-color: transparent;

    input {
      width: 100%;
    }

    .select2-choice {
      height: auto;
      border-radius: 0;
      background-image: none;
      background-color: transparent;

      .select2-arrow {
        border-left: none;
        background-image: none;
        background-color: transparent;
      }
    }

    &.select2-container-active {
      .select2-choice, .select2-choices {
        border-color: $onedata-mint-green;
      }
    }
  }
}

.select2-drop {
  &.select2-drop-active {
    border-color: $color-button-default;
    border-top-width: 1px;
    border-top-style: solid;
    border-radius: 4px;
  }

  .select2-search {
    margin-top: 4px;
  }

  .select2-results {
    .select2-highlighted {
      background: $onedata-mint-green;
    }
  }
}

.permission-subject-select2 {
  .oneicon {
    font-size: 32px;
    position: absolute;
    top: -2px;
  }
  .select2-result-label {
    position: relative;
    height: 32px;
    padding: 0;

    .oneicon {
      top: 0;
      left: 3px;
    }
  }
}

.modal .modal-dialog .modal-content {
  .permission-subject-select2 {
    &.select2-container.form-control {
      width: auto;
      margin-right: 8px;
    }

    .select2-choice {
      width: 48px;
      padding-left: 0;
    }

    .select2-chosen {
      height: 26px;
    }
  }
}

.col-permission-subject-selectors {
  display: table;

  .col-permission-subject-type-select, .col-permission-subject-select {
    display: table-cell;
  }

  .col-permission-subject-type-select {
    width: 56px;
  }

  .col-permission-subject-select {
    .select2-choice {
      position: absolute;
      width: 100%;
    }
  }
}
