/* The main style file to include other sylesheets: various media or css libraries */

$min-width-mobile: 300px;
$max-width-mobile: 760px;

$min-width-tablet: $max-width-mobile + 1;
$max-width-tablet: 1260px;

$min-width-desktop-small: $max-width-tablet + 1;
$max-width-desktop-small: 1356px;

$min-width-desktop-medium: $max-width-desktop-small + 1;
$max-width-desktop-medium: 1800px;

$min-width-desktop-large: $max-width-desktop-medium + 1;

// Non-media-dependent variables
$secondary-sidebar-item-height: 60px;

// TODO: use mixin, min-width only, maybe common should not be included N-times

// TODO: some refactor:
// http://thesassway.com/intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32

// TODO: move to utils.scss

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin linear-gradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

/// Bootstrap

// Bootstrap variables
// TODO: set to values from app.scss
// @grid-float-breakpoint
$modal-inner-padding: 30px;
$screen-xs-min: $min-width-mobile;
$screen-sm-min: $min-width-tablet;
$screen-md-min: $min-width-desktop-small;
$screen-lg-min: $min-width-desktop-medium;


@import "bootstrap";
.row {
  margin-left: 0px;
  margin-right: 0px;
}

@import 'colors-common';
@import 'onedata-common';

@import 'colors';
@import 'animate';

@media screen
  and (min-width: $min-width-desktop-large) {
    $global-min-width: $min-width-desktop-large;
    @import 'media-variables/desktop-large';
    @import 'common';
    @import 'media-styles/desktop-large';
    @import 'components/one-table-common';
    @import 'components/one-table-desktop';
    @import 'components/dropdown';
    @import 'components/common-loader-op';
}

@media screen
  and (min-width: $min-width-desktop-medium)
  and (max-width: $max-width-desktop-medium) {
    $global-min-width: $min-width-desktop-medium;
    @import 'media-variables/desktop-medium';
    @import 'common';
    @import 'media-styles/desktop-medium';
    @import 'components/one-table-common';
    @import 'components/one-table-desktop';
    @import 'components/dropdown';
    @import 'components/common-loader-op';
}

@media screen
  and (min-width: $min-width-desktop-small)
  and (max-width: $max-width-desktop-small) {
    $global-min-width: $min-width-desktop-small;
    @import 'media-variables/desktop-small';
    @import 'common';
    @import 'media-styles/desktop-small';
    @import 'components/one-table-common';
    @import 'components/one-table-desktop';
    @import 'components/dropdown';
    @import 'components/common-loader-op';
}

@media screen
  and (min-width: $min-width-tablet)
  and (max-width: $max-width-tablet) {
    $global-min-width: $min-width-tablet;
    @import 'media-variables/tablet';
    @import 'common';
    @import 'media-styles/tablet';
    @import 'components/one-table-common';
    @import 'components/one-table-mobile';
    @import 'components/dropdown';
}

// minimal layout, min-width-mobile not used in query
@media screen
  and (max-width: $max-width-mobile) {
    $global-min-width: $min-width-mobile;
    @import 'media-variables/mobile';
    @import 'common';
    @import 'media-styles/mobile';
    @import 'components/one-table-common';
    @import 'components/one-table-mobile';
    @import 'components/dropdown';
}

// original stylesheet for ember-power-select
@import "ember-power-select";

// OP components
@import 'components/modal';
@import 'components/button';
@import 'components/notify';
@import 'components/file-upload';
@import 'components/permissions-table';
@import 'components/modal-types';
@import 'components/file-permissions';
@import 'components/metadata-panel';
@import 'components/share-info-head';
@import 'components/file-breadcrumbs';
@import "components/ember-power-select";
@import 'components/one-atlas';
@import 'components/provider-place';

// onedata-common components
@import 'components/button-common';
@import 'components/common-loader';
@import 'components/message-box-modal';
@import 'components/one-option-button';
@import 'components/one-overlay';
@import 'components/select2';
@import 'components/spin-button-base';
