/// New look experimental

$color-main-background: #FAFAFA;
$color-panel-background: #FFFFFF;
$color-panel-azure: #3098E1;
$color-panel-red: #FE4C57;
$color-panel-green: #5AC997;
$color-panel-graphite: #535F72;
$color-panel-yellow: #FFC664;
$color-panel-red-2: #FE4C57;
$color-panel-azure-light: #A8D0F1;
$color-panel-red-light: #FFAEB1;
$color-panel-green-light: #B6E7CF;
$color-panel-graphite-light: #AFB5BF;
$color-panel-yellow-light: #FFE6B6;


$onedata-red: #F14549;
$onedata-azure: #5192EB;
$onedata-gold: #F5A700;
$onedata-graphite: #2F333A;
// TODO: used as a dropright menu background
$onedata-graphite-2: #2B3037;
$onedata-gray: #B6BAC0;
$onedata-snow: #F6F7F8;
$onedata-light-gray: #F0F0F0;
$onedata-light-azure: #DCEFFA;
$onedata-fresh-green: #97C31B;
$onedata-mint-green: #55E191;
// TODO: same as graphite?
$onedata-topbar-graphite: #363A42;

$onedata-green-save: #4FD56E;
$onedata-red-discard: #F14549;

// TODO: clean up red versions
// elements colors
$onedata-red-menu: $onedata-red;
$onedata-red-left: #F14A4D;
$onedata-red-file: #F63A39;

$color-folder: $onedata-gray;
// TODO: onedata-red ?
$color-file: $onedata-red-file;
$color-toolbar-icon: $onedata-graphite;
$color-toolbar-icon-disabled: rgba($onedata-graphite, 0.25);
$color-toolbar-icon-hover: $onedata-red;
$color-toolbar-separator: #DADADA;
$color-button-primary: #55E191;
$color-button-default: #8E8E8E;
// TODO: next red?
$color-upload-progress-fg: #EF3C40;
$color-upload-progress-bg: #D7D7D7;

$color-dropdown-menu-bg: #2B3037;
// color from screenshot: #F35154;
$color-dropdown-menu-bg-hover: $onedata-red;
// TODO: from globalregistry...
$top-font-color: #bfbfbf;

// TODO: notify colors for all types
$color-notify-background: #2B3037;
$color-notify-info: $onedata-fresh-green;
$color-notify-success: $onedata-fresh-green;
$color-notify-warning: $onedata-gold;
$color-notify-alert: $onedata-red;
$color-notify-error: $onedata-red;

$color-content-separator: #E6E6E6;
$color-secondary-sidebar-separator: $color-content-separator;
$color-secondary-top-bar-separator: $color-content-separator;

$color-red-ban: #F25255;

$color-one-white: #FFFFFF;
$color-one-mint: #4BD187;
$color-one-red: #EE3F3F;
$color-one-blue-gray: #4A6089;
$color-one-yellow: #F7AA04;
$one-main-border-color: darken($onedata-light-gray, 10%);

$color-transfer: #B6B6B6;

/// Color classes
// TODO: all classes should start with "color-"

.color-space-default {
  color: $onedata-red !important;
}

.color-space {
  color: $onedata-gray !important;
}

.color-directory {
  color: $color-folder !important;
}

.color-file {
  color: $color-file !important;
}

.color-share {
  color: $color-folder !important;
}
