$responsive-multiplier: 1 !default;

// default for desktop TODO: move to desktop-common
$sidebar-width: 68px !default;
$top-bar-height: 72px !default;
$global-min-width: 1000px !default;
// $secondary-sidebar-width: 352px;
$secondary-sidebar-width: 352px !default;
$secondary-sidebar-width-max-addition: 400px;
$secondary-sidebar-item-padding: 22px !default;

$content-padding: 12px !default;

$top-bar-background-color: $onedata-snow !default;
$top-bar-foreground-color: $onedata-topbar-graphite !default;
$sidebar-background-color: $onedata-graphite !default;
$content-background-color: #FFF !default;

$sidebar-item-hover-color: $onedata-red-menu;

/// Font and icon sizes
$secondary-sidebar-font-size: 14px !default;
$secondary-sidebar-icon-font-size: 38px !default;

$top-bar-icon-font-size: 32px !default;

$table-checkbox-size: 48px !default;

$secondary-top-bar-height: 50px;

$transition-time: 0.25s !default;

// TODO: should be used with Bootstrap SASS
$font-family-sans-serif: 'Open Sans';

// routes-specific styles

@import 'public';
@import 'data';
@import 'groups';
@import 'shares';

html, body {
  font-family: $font-family-sans-serif !important;
  background-color: $color-main-background;

  // TODO: only input[type=text] ?
  .form-control {
    border-radius: 0;
    border: solid 1px #B6C7D3;

    &:focus {
      box-shadow: none;
      border: solid 1px #545C74;
    }
  }
}

#app {
  header {
    position: fixed;
    top: 0;
    right: 0;
    left: $sidebar-width;
    height: $top-bar-height;

    color: $top-bar-foreground-color;
    background: $top-bar-background-color;
    // TODO
    //transition: left 0.25s;

    .navbar {
      height: $top-bar-height;
      margin-bottom: 0;
      border: none;
      border-radius: 0;
      background: none;

      .top-bar-item {
        // important because we want all items height to fit bar height
        min-height: $top-bar-height !important;
      }

      .toolbar-icon {
        color: $color-toolbar-icon;
        // we do not want hover
        background-color: transparent !important;
        cursor: pointer; cursor: hand;

        &:hover {
          color: $onedata-red !important;
        }

        &.disabled {
          color: $color-toolbar-icon-disabled;
          pointer-events: none;
          cursor: default;
        }
      }

      .navbar-brand {
        width: 156px;
        margin-left: 32px;
        margin-right: 62px;
        // TODO: svg
        background-image: url("/assets/images/logo-dark.svg");
        background-position: center left;
        background-size: auto 26px;
        background-repeat: no-repeat;
      }

      .top-bar-icon {
        // important because we to force top bar icons to be equally sized
        font-size: $top-bar-icon-font-size !important;
      }

      // TODO: left only for first, disable right for last
      .toolbar-group {
        border-right: solid 1px $color-toolbar-separator;

        &.navbar-right {
          &:first-of-type {
            border-right: none;
          }
        }

      }

      .navbar-nav {
        // TODO: probably > li can be used... consider it
        // TODO: .top-bar-item
        > li > a {
          // important because we want all items height to fit bar height
          min-height: $top-bar-height !important;
        }

        .profile-dropdown {
          margin-left: 10px;
          margin-right: 10px;

          .oneicon {
            font-size: 40px;
            vertical-align: middle;
          }
        }
      }
    }
  }

  nav.primary-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: $sidebar-width;

    // TODO
    // transition: width $transition-time;

    background: $sidebar-background-color;

    &.visible {
      width: $sidebar-width;
    }

    // a list of application pages links (icons)
    ul {
      margin: 0; padding: 0;
      list-style: none;

      .small-logo {
        height: $top-bar-height;
        width: $sidebar-width;
        text-align: center;

        // TODO: use SVG
        background-image: url("/assets/images/logo-short-light.svg");
        background-size: 40px 26px;
        background-repeat: no-repeat;
        background-position: center center;
      }

      // TODO
      $sidebar-item-height: 78px;

      li {
        overflow: hidden;
        vertical-align: middle;
        border-bottom: solid #565960 1px;

        .oneicon {
          font-size: 40px;
        }

        &.active a {
          background-color: $sidebar-item-hover-color;
        }

        a:hover {
          background-color: rgba($sidebar-item-hover-color, 0.55);
        }

        a {
          display: table;
          height: $sidebar-item-height;
          text-decoration: none;
          color: #fff;
          width: 100%;



          // TODO: generic figure styles moved up
          figure {
            max-height: $sidebar-item-height;
            color: #fff;

            figcaption {
              letter-spacing: 0.05em;
              text-transform: capitalize;
            }
          }
        }
      }
    }
  }

  section#main-content {
    position: fixed;
    overflow: hidden;
    top: $top-bar-height;
    right: 0;
    left: $sidebar-width;
    bottom: 0;
    min-width: $global-min-width - $sidebar-width;
    z-index: -1;


    // TODO
    // transition: left $transition-time;

    background: $content-background-color;

    .resize-handler {
      position: absolute;
      z-index: 1000;
      top: 0;
      bottom: 0;
      width: 8px;
      cursor: ew-resize;

      .transparent {
        color: transparent;
      }

      &.data-sidebar-resize-hander {
        top: $secondary-top-bar-height;
      }
    }

    // an element that should be inside main content
    // and is above sidebar and content-scroll
    // is serves as a contextual navigation
    .secondary-top-bar {
      position: relative;
      padding-top: 12px;
      padding-left: 27px * $responsive-multiplier;
      height: $secondary-top-bar-height;
      border-bottom: $color-secondary-top-bar-separator solid 2px;
    }

    .lower-main-content {
      position: absolute;
      left: 0;
      right: 0;
      top: $secondary-top-bar-height;
      bottom: 0;
    }

    nav.secondary-sidebar {
      position: relative;
      float: left;
      overflow-x: hidden;
      overflow-y: auto;
      height: 100%;

      max-width: $secondary-sidebar-width + $secondary-sidebar-width-max-addition;
      width: $secondary-sidebar-width;
      min-width: $secondary-sidebar-width;

      border-right: $color-secondary-sidebar-separator 2px solid;

      // TODO: responsive variables?
      .secondary-sidebar-header {
        color: #4D5664; // TODO: graphite2?
        border-top: none !important;

        > * {
          display: table-cell;
        }

        .title {
          width: 100%;
          text-transform: uppercase;
          border-top: none;
          // TODO: should be like div.current-sidebar-entry...
          height: $secondary-sidebar-item-height;
          padding-top: 18px;
          padding-left: 33px * $responsive-multiplier; // SPACES is moved right slightly
          padding-bottom: 16px;
          padding-right: 27px * $responsive-multiplier;
          font-size: $secondary-sidebar-font-size;
        }

        figure {
          figcaption {
            // pull up
            margin-top: -10px;
          }
        }

        .icon {
          &:first-of-type {
            padding-left: 15px;
          }

          font-size: 28px;
          padding-right: 15px;

          &:hover {
            color: $onedata-red-menu;
          }
        }
      }


      // "active" item of list item
      .secondary-sidebar-item {
        display: table;
        width: 100%;
        height: $secondary-sidebar-item-height;
        line-height: $secondary-sidebar-item-height;
        border-top: #ebebeb 1px solid;
        padding-left: $secondary-sidebar-item-padding;
        padding-right: $secondary-sidebar-item-padding;
        list-style-type: none;
        font-size: $secondary-sidebar-font-size;
        color: black;
        text-decoration: none !important;

        // generic elements of secondary-sidebar-item

        // TODO: elements that use .item-icon or .item-label should use this class
        .item-element {
          display: table-cell;
          vertical-align: middle;
        }

        .item-icon {
          display: table-cell;
          min-width: 32px;
          width: 32px;
          max-width: 32px;
          vertical-align: middle;
          font-size: $secondary-sidebar-icon-font-size;
          text-align: center;
        }

        .item-label {
          display: table-cell;
          vertical-align: middle;
          font-size: $secondary-sidebar-font-size;
          padding-left: 1em;
        }

        // more specific
        .settings-icon {
          color: $onedata-graphite;
        }
      }


      ul {
        padding: 0;

        // list item is a container for "action" item and its application childs
        li {
          list-style-type: none;
          line-height: 18px;

          ul.submenu {
            .secondary-sidebar-item {
              padding-left: $secondary-sidebar-item-padding * 3.64;
            }

            // TODO
            // // when is a child of non-active parent, it is invisible
            // display: none;
            background-color: $onedata-light-gray;

            .secondary-sidebar-item {
              .item-label {
                  text-transform: capitalize;
              }

              &:hover,
              &.active {
                color: $onedata-red-left;
              }
            }
          }

          &.first-level {
            // TODO: this causes a left "margin" of horizontal lines...
            border-left: 5px solid;
            border-left-color: transparent;
            &:hover {
              border-left-color: $onedata-light-gray;
            }
          }

          &.active.first-level {
            border-left-color: $onedata-red-left;

            .secondary-sidebar-item.first-level {
              background-color: $onedata-light-gray;
            }
          }

          &:hover {
            .secondary-sidebar-item.first-level {
              background-color: $onedata-light-gray;

              .secondary-sidebar-item.first-level {
                background-color: transparent;
              }
            }
          }

          // TODO

          // active first-level entry
          &.active {
            // submenu uncollapses when parent menu is clicked
            ul.submenu {
              display: block;

              .active {
                .secondary-sidebar-item {
                  color: $onedata-red-left;
                }
              }
            }

            .secondary-sidebar-item {
              background-color: $onedata-light-gray;
            }
          }
        }
      }

      // special styles for sidebar lists which are trees
      ul.tree {

      }
    }

    // TODO: assuming, that this content is always on secondary-sidebar right
    // other content-scroll types should be made
    #content-scroll {
      position: relative;
      float: none;
      overflow-y: auto;
      overflow-x: hidden; // TODO: it's probably some hack
      height: 100%;
      padding: $content-padding;
      // to achieve proper alignment with secondary sidebar header line
      // we do not set top padding of content
      padding-top: 0;

      background-color: $color-main-background;

      // add a padding-top if not added already
      .inner-content {
        padding-top: $content-padding;
      }

      .content-error {
        margin-top: 40px;
        font-size: 2em;
        text-align: center;
      }

      .content-error-icon {
        width: 100%;
        margin-top: 40px;
        font-size: 128px;
        text-align: center;
      }
    }
  }

  figure {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer; cursor: hand;

    figcaption {
      // pull up
      margin-top: -3px;
      font-size: 8pt;
      font-weight: lighter;
    }
  }

}


.input-with-button {
  display: table;
  width: 100%;

  > * {
    display: table-cell;
  }

  > *:first-child {
    width: 100%;
  }

  input, .form-control {
    height: 42px !important;
    text-overflow: ellipsis;
  }

  .btn {
    // a hack to pull up
    margin-top: -2px;

    @-moz-document url-prefix() {
      vertical-align: baseline;
      position: relative;
      top: -2px;
    }

    width: 48px;

    padding-top: 0;
    padding-bottom: 0;
    height: 42px;
    padding-left: 4px;
    padding-right: 4px;
  }
}

.modal-row {
  margin-top: 10px;
  margin-bottom: 10px;

  &.large-space {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  &:first-child {
    margin-top: auto;
  }

  &:last-child {
    margin-bottom: auto;
  }
}

// Specific truncate classes

.truncate-secondary-sidebar-select {
  max-width: $secondary-sidebar-width - 110px;
}

.truncate-drop {
  max-width: $secondary-sidebar-width - 70px;
}


// Additional classes, that should be moved to onedata-common someday
.clickable {
  cursor: pointer; cursor: hand;
}

.non-clickable {
  pointer-events: none;
  cursor: default;
}

.no-outline {
  outline: none !important;
}

// DEPRECATED
.is-loading {
  position: relative;

  &::after {
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(white, 0.5);
    background-image: url("/assets/images/loading-128.gif");
    background-position: center 30px;
    content: ' ';
  }
}

.relative {
  position: relative !important;
}

.oneicon {
  position: relative;
  display: inline-block;
}

/* Safari and Chrome */
@-webkit-keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  display: inline-block;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.full-size {
  display: block;
  width: 100%;
  height: 100%;
}

// insert a <td> to allow other cells to be fixed width
.table-space-fill {
  width: auto !important;
  max-width: initial !important;
  min-width: initial !important;
}

// for debugging
.service-debugger {
  position: fixed;
  width: 400px;
  height: 150px;
  bottom: 0;
  right: 0;
  border: 1px solid black;
  background-color: white;
  padding: 10px;

  .inner-scroll {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}

// style for messages that covers main content
// this evolved from handling empty collections, so we have double class names

.empty-model, .main-content-message {
  // below drop-zone
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 20px;

  .empty-model-container, .main-content-message-container {
    padding-top: 40px;

    .empty-model-image, .main-content-message-image {
      width: 100%;
      height: 128px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .empty-model-message, .main-content-message-text {
      position: relative;
      width: 100%;
      margin-top: 20px;
      font-size: 32px;
      text-align: center;

      &.secondary {
        position: relative;
        margin-top: 10px;
        font-size: 24px;
      }
    }
  }
}


.inline-button {
  position: relative;
  top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 2em;
}


/// New look experimental

.op-panel {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top-width: 6px;
  border-top-style: solid;
  background-color: $color-panel-background;

  &.op-panel-background {
    background-repeat: no-repeat;
    background-position: 102% 40px;
    padding-right: 200px;
    background-size: 200px 200px;

    // additional styles for file browser, to not trim a background gfx
    .data-files-list {
      min-height: 200px;
    }
  }

  &.op-panel-azure, &.op-panel-metadata {
    border-color: $color-panel-azure;
    &.op-panel-background {
      background-image: url(/assets/images/panels/metadata.svg);
    }
  }

  &.op-panel-red, &.op-panel-files {
    border-color: $color-panel-red;
    &.op-panel-background {
      background-image: url(/assets/images/panels/files.svg);
    }
  }

  &.op-panel-green {
    border-color: $color-panel-green;
  }

  &.op-panel-graphite {
    border-color: $color-panel-graphite;
  }
}
