{{!-- use table as in onepanel-gui --}}
<h2>Live transfers</h2>
{{#if _mobileMode}}
  {{#if (eq _processedData.length 0)}}
    <div class="row content-row">
      <p>{{_tableCustomMessages.noDataToShow}}</p>
    </div>
  {{else}}
    
  {{/if}}
{{else}}
  {{models-table
    data=_tableData
    columns=_tableColumns
    customIcons=_tableCustomIcons
    customClasses=_tableCustomClasses
    customMessages=_tableCustomMessages
    showColumnsDropdown=false
    showGlobalFilter=false
    useFilteringByColumns=false
    showComponentFooter=false
    multipleColumnsSorting=false
    rowTemplate="components/transfers/live-stats-table/row"
    expandedRowTemplate="components/transfers/live-stats-table/expanded-row"}}
{{/if}}


