<div class="row chart-row">
  {{!-- FIXME: a loading container --}}
  {{#loading-container isLoading=(not chartDataIsLoaded)}}
    {{transfers/throughput-distribution/chart
      providers=providers
      throughputData=spaceTransfers
      providersColors=providersColors}}
  {{/loading-container}}
</div>
