<h1>Transfers for {{space.name}}</h1>

{{yield (hash
  providers=providers
  currentTransfers=currentTransfers
  completedTransfers=completedTransfers
  providerTransfers=providerTransfers
  providerTransferConnections=providerTransferConnections
  tableDataIsLoaded=tableDataIsLoaded
)}}
