@import "variables";

@font-face {
    font-family: 'oneicons';
    src:    url('#{$icomoon-font-path}/oneicons.eot?aany2y');
    src:    url('#{$icomoon-font-path}/oneicons.eot?aany2y#iefix') format('embedded-opentype'),
        url('#{$icomoon-font-path}/oneicons.ttf?aany2y') format('truetype'),
        url('#{$icomoon-font-path}/oneicons.woff?aany2y') format('woff'),
        url('#{$icomoon-font-path}/oneicons.svg?aany2y#oneicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="oneicon-"], [class*=" oneicon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'oneicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.oneicon-social-indigo {
    &:before {
        content: $oneicon-social-indigo;
    }
}
.oneicon-key {
    &:before {
        content: $oneicon-key;
    }
}
.oneicon-add {
    &:before {
        content: $oneicon-add;
    }
}
.oneicon-arrow-down {
    &:before {
        content: $oneicon-arrow-down;
    }
}
.oneicon-arrow-right {
    &:before {
        content: $oneicon-arrow-right;
    }
}
.oneicon-arrow-up {
    &:before {
        content: $oneicon-arrow-up;
    }
}
.oneicon-checkbox-check {
    &:before {
        content: $oneicon-checkbox-check;
    }
}
.oneicon-checkbox-x {
    &:before {
        content: $oneicon-checkbox-x;
    }
}
.oneicon-close {
    &:before {
        content: $oneicon-close;
    }
}
.oneicon-collection-create {
    &:before {
        content: $oneicon-collection-create;
    }
}
.oneicon-copy {
    &:before {
        content: $oneicon-copy;
    }
}
.oneicon-cut {
    &:before {
        content: $oneicon-cut;
    }
}
.oneicon-file {
    &:before {
        content: $oneicon-file;
    }
}
.oneicon-folder-new {
    &:before {
        content: $oneicon-folder-new;
    }
}
.oneicon-folder-open {
    &:before {
        content: $oneicon-folder-open;
    }
}
.oneicon-folder {
    &:before {
        content: $oneicon-folder;
    }
}
.oneicon-group-add {
    &:before {
        content: $oneicon-group-add;
    }
}
.oneicon-group-invite {
    &:before {
        content: $oneicon-group-invite;
    }
}
.oneicon-group-leave-group {
    &:before {
        content: $oneicon-group-leave-group;
    }
}
.oneicon-group {
    &:before {
        content: $oneicon-group;
    }
}
.oneicon-groups {
    &:before {
        content: $oneicon-groups;
    }
}
.oneicon-home-outline {
    &:before {
        content: $oneicon-home-outline;
    }
}
.oneicon-home {
    &:before {
        content: $oneicon-home;
    }
}
.oneicon-inbox {
    &:before {
        content: $oneicon-inbox;
    }
}
.oneicon-join {
    &:before {
        content: $oneicon-join;
    }
}
.oneicon-leave-space {
    &:before {
        content: $oneicon-leave-space;
    }
}
.oneicon-lock {
    &:before {
        content: $oneicon-lock;
    }
}
.oneicon-menu-collection {
    &:before {
        content: $oneicon-menu-collection;
    }
}
.oneicon-menu-data {
    &:before {
        content: $oneicon-menu-data;
    }
}
.oneicon-menu-groups {
    &:before {
        content: $oneicon-menu-groups;
    }
}
.oneicon-menu-links {
    &:before {
        content: $oneicon-menu-links;
    }
}
.oneicon-menu-providers {
    &:before {
        content: $oneicon-menu-providers;
    }
}
.oneicon-menu-recent {
    &:before {
        content: $oneicon-menu-recent;
    }
}
.oneicon-menu-token {
    &:before {
        content: $oneicon-menu-token;
    }
}
.oneicon-menu-trash {
    &:before {
        content: $oneicon-menu-trash;
    }
}
.oneicon-move-down {
    &:before {
        content: $oneicon-move-down;
    }
}
.oneicon-move-up {
    &:before {
        content: $oneicon-move-up;
    }
}
.oneicon-password-change {
    &:before {
        content: $oneicon-password-change;
    }
}
.oneicon-provider-add {
    &:before {
        content: $oneicon-provider-add;
    }
}
.oneicon-provider-default {
    &:before {
        content: $oneicon-provider-default;
    }
}
.oneicon-provider-home {
    &:before {
        content: $oneicon-provider-home;
    }
}
.oneicon-provider {
    &:before {
        content: $oneicon-provider;
    }
}
.oneicon-providers-outline {
    &:before {
        content: $oneicon-providers-outline;
    }
}
.oneicon-remove {
    &:before {
        content: $oneicon-remove;
    }
}
.oneicon-rename {
    &:before {
        content: $oneicon-rename;
    }
}
.oneicon-search {
    &:before {
        content: $oneicon-search;
    }
}
.oneicon-settings {
    &:before {
        content: $oneicon-settings;
    }
}
.oneicon-share {
    &:before {
        content: $oneicon-share;
    }
}
.oneicon-social-dropbox {
    &:before {
        content: $oneicon-social-dropbox;
    }
}
.oneicon-social-facebook {
    &:before {
        content: $oneicon-social-facebook;
    }
}
.oneicon-social-github {
    &:before {
        content: $oneicon-social-github;
    }
}
.oneicon-social-google {
    &:before {
        content: $oneicon-social-google;
    }
}
.oneicon-social-plgrid {
    &:before {
        content: $oneicon-social-plgrid;
    }
}
.oneicon-space-add {
    &:before {
        content: $oneicon-space-add;
    }
}
.oneicon-space-default {
    &:before {
        content: $oneicon-space-default;
    }
}
.oneicon-space-empty {
    &:before {
        content: $oneicon-space-empty;
    }
}
.oneicon-space-home {
    &:before {
        content: $oneicon-space-home;
    }
}
.oneicon-space-join {
    &:before {
        content: $oneicon-space-join;
    }
}
.oneicon-space-reload {
    &:before {
        content: $oneicon-space-reload;
    }
}
.oneicon-space {
    &:before {
        content: $oneicon-space;
    }
}
.oneicon-star-empty {
    &:before {
        content: $oneicon-star-empty;
    }
}
.oneicon-star {
    &:before {
        content: $oneicon-star;
    }
}
.oneicon-support {
    &:before {
        content: $oneicon-support;
    }
}
.oneicon-upload {
    &:before {
        content: $oneicon-upload;
    }
}
.oneicon-user-add {
    &:before {
        content: $oneicon-user-add;
    }
}
.oneicon-user-profile {
    &:before {
        content: $oneicon-user-profile;
    }
}
.oneicon-user {
    &:before {
        content: $oneicon-user;
    }
}
.oneicon-view-grid {
    &:before {
        content: $oneicon-view-grid;
    }
}
.oneicon-view-list {
    &:before {
        content: $oneicon-view-list;
    }
}

