$icomoon-font-path: "fonts" !default;

$oneicon-social-indigo: "\e944";
$oneicon-key: "\e943";
$oneicon-add: "\e900";
$oneicon-arrow-down: "\e901";
$oneicon-arrow-right: "\e902";
$oneicon-arrow-up: "\e903";
$oneicon-checkbox-check: "\e904";
$oneicon-checkbox-x: "\e905";
$oneicon-close: "\e906";
$oneicon-collection-create: "\e907";
$oneicon-copy: "\e908";
$oneicon-cut: "\e909";
$oneicon-file: "\e90a";
$oneicon-folder-new: "\e90b";
$oneicon-folder-open: "\e90c";
$oneicon-folder: "\e90d";
$oneicon-group-add: "\e90e";
$oneicon-group-invite: "\e90f";
$oneicon-group-leave-group: "\e910";
$oneicon-group: "\e911";
$oneicon-groups: "\e912";
$oneicon-home-outline: "\e913";
$oneicon-home: "\e914";
$oneicon-inbox: "\e915";
$oneicon-join: "\e916";
$oneicon-leave-space: "\e917";
$oneicon-lock: "\e918";
$oneicon-menu-collection: "\e919";
$oneicon-menu-data: "\e91a";
$oneicon-menu-groups: "\e91b";
$oneicon-menu-links: "\e91c";
$oneicon-menu-providers: "\e91d";
$oneicon-menu-recent: "\e91e";
$oneicon-menu-token: "\e91f";
$oneicon-menu-trash: "\e920";
$oneicon-move-down: "\e921";
$oneicon-move-up: "\e922";
$oneicon-password-change: "\e923";
$oneicon-provider-add: "\e924";
$oneicon-provider-default: "\e925";
$oneicon-provider-home: "\e926";
$oneicon-provider: "\e927";
$oneicon-providers-outline: "\e928";
$oneicon-remove: "\e929";
$oneicon-rename: "\e92a";
$oneicon-search: "\e92b";
$oneicon-settings: "\e92c";
$oneicon-share: "\e92d";
$oneicon-social-dropbox: "\e92e";
$oneicon-social-facebook: "\e92f";
$oneicon-social-github: "\e930";
$oneicon-social-google: "\e931";
$oneicon-social-plgrid: "\e932";
$oneicon-space-add: "\e933";
$oneicon-space-default: "\e934";
$oneicon-space-empty: "\e935";
$oneicon-space-home: "\e936";
$oneicon-space-join: "\e937";
$oneicon-space-reload: "\e938";
$oneicon-space: "\e939";
$oneicon-star-empty: "\e93a";
$oneicon-star: "\e93b";
$oneicon-support: "\e93c";
$oneicon-upload: "\e93d";
$oneicon-user-add: "\e93e";
$oneicon-user-profile: "\e93f";
$oneicon-user: "\e940";
$oneicon-view-grid: "\e941";
$oneicon-view-list: "\e942";

