// TODO: box-shadow none?
.btn {
  border: none !important;
  padding: 10px 40px;

  .oneicon {
    font-size: 40px;
  }
}

.btn-primary {
  color: white !important;
  background-color: $color-button-primary;

  &:hover {
    background-color: lighten($color-button-primary, 10%);
  }

  &:active:focus, &:active:hover, &:focus, &:active {
    background-color: darken($color-button-primary, 10%);
  }
}

.btn-default {
  color: white !important;
  background-color: $color-button-default;

  &:hover {
    background-color: lighten($color-button-default, 10%);
  }

  &:active:focus, &:active:hover, &:focus, &:active {
    background-color: darken($color-button-default, 10%);
  }
}

@mixin btn-before-oneicon($icon-name, $top, $left, $font-size) {
  // because we need absolute-positioned icons inside
  position: relative;
  // we need extra space for absolute icon
  padding-left: $left + $font-size + 10px;

  &:before {
    position: absolute;
    top: $top;
    left: $left;
    font-size: $font-size;
    font-family: 'oneicons';
    content: $icon-name;
  }
}

@mixin btn-before-oneicon-permissions($icon-name) {
  @include btn-before-oneicon($icon-name, -3px, 14px, 24px);
}

.btn-permissions {
  padding: 5px 30px;
  border-radius: 2px !important;
  border-width: 1px !important;
  border-style: solid !important;
  text-transform: uppercase;
  background-color: white;

  &.btn-save {
    color: $onedata-green-save;

    @include btn-before-oneicon-permissions($oneicon-checkbox-check);
  }
  &.btn-discard {
    color: $onedata-red-discard;

    @include btn-before-oneicon-permissions($oneicon-checkbox-x);
  }
  &.btn-save.disabled, &.btn-discard.disabled {
    color: $onedata-gray;
  }
}

.btn-right {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.btn-left {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
