// TODO: box-shadow none?
.btn {
  border: none !important;
  padding: 10px 40px;

  .oneicon {
    font-size: 40px;
  }
}

@mixin button-background-colors($fg-color, $base-bg-color) {
  color: $fg-color !important;
  background-color: $base-bg-color;

  &:hover {
    background-color: lighten($base-bg-color, 10%);
  }

  &[disabled],
  &.disabled,
  &.disabled:hover,
  &.disabled:focus,
  &.disabled.focus,
  &[disabled]:hover,
  &[disabled]:focus,
  &[disabled].focus {
    background-color: darken($base-bg-color, 20%);
  }

  &:active:focus, &:active:hover, &:focus, &:active {
    background-color: darken($base-bg-color, 10%);
  }
}

.btn-primary {
  @include button-background-colors(white, $color-button-primary);
}

.btn-default {
  @include button-background-colors(white, $color-button-default);
}

@mixin btn-before-oneicon($icon-name, $top, $left, $font-size) {
  // because we need absolute-positioned icons inside
  position: relative;
  // we need extra space for absolute icon
  padding-left: $left + $font-size + 10px;

  &:before {
    position: absolute;
    top: $top;
    left: $left;
    font-size: $font-size;
    font-family: 'oneicons';
    content: $icon-name;
  }
}

@mixin btn-before-oneicon-permissions($icon-name) {
  @include btn-before-oneicon($icon-name, -3px, 14px, 24px);
}

// outlined button, for historical reasons, it has 2 classes
.btn-permissions, .btn-outline {
  padding: 5px 30px;
  border-radius: 2px !important;
  border-width: 1px !important;
  border-style: solid !important;
  text-transform: uppercase;
  background-color: transparent;

  &:hover {
    background-color: white;
  }

  // support for spin-button
  &.disabled,
  &[disabled],
  &.in-flight {
    color: $onedata-gray !important;
    border-color: $onedata-gray !important;
    background-color: white;
  }

  .spin-button-spinner {
    left: 20px !important;
  }

  &.btn-publish {
    color: $onedata-green-save;

    &:not(.in-flight) {
      @include btn-before-oneicon-permissions($oneicon-menu-shared);
    }
  }
  &.btn-save {
    color: $onedata-green-save;

    &:not(.in-flight) {
      @include btn-before-oneicon-permissions($oneicon-checkbox-check);
    }
  }
  &.btn-discard {
    color: $onedata-red-discard;

    &:not(.in-flight) {
      @include btn-before-oneicon-permissions($oneicon-checkbox-x);
    }
  }
}
