/// common-loader styles specific for OP

.common-loader {
  &.main-content {
    left: $sidebar-width;
    top: $top-bar-height;
  }

  &.secondary-sidebar {
    left: $sidebar-width;
    width: $secondary-sidebar-width;
    top: $top-bar-height;
  }

  &.content {
    left: $sidebar-width + $secondary-sidebar-width;
    top: $top-bar-height;
  }
}
