.panel.file-upload-panel {
  position: fixed;
  right: 0;
  // hide border
  bottom: -1px;
  width: 400px;
  margin-right: 15px;
  margin-bottom: 0px;

  .panel-heading {
    background-color: $onedata-graphite;
    color: white;
  }

  .panel-body {
    background-color: #F6F6F6;
  }

  .panel-footer {
    background-color: #F0F0F0;
  }
}

.file-upload-hidden {
  .panel.file-upload-panel {
    max-height: 0px;
    transition: max-height 0.5s ease-out;
  }
}

.file-upload-visible {
  .panel.file-upload-panel {
    max-height: 50%;
    transition: max-height 0.5s ease-out;
  }
}

// TODO resumablejs


/* Uploader: Drag & Drop */
.resumable-error {display:none; font-size:14px; font-style:italic;}
.resumable-drop {padding:15px; font-size:13px; text-align:center; color:#666; font-weight:bold;background-color:#eee; border:2px dashed #aaa; border-radius:10px; margin-top:40px; z-index:9999; display:none;}
.resumable-dragover {padding:30px; color:#555; background-color:#ddd; border:1px solid #999;}

/* Uploader: Progress bar */
.resumable-progress {margin: 5px 0 15px 0; width:100%;}
.progress-container {height:7px; background:$color-upload-progress-bg; position:relative; }
.progress-bar {position:absolute; top:0; left:0; bottom:0; background:$color-upload-progress-fg; width:0;}
.progress-text {font-size:11px; line-height:9px; padding-left:10px;}
.is-paused .progress-resume-link {display:inline;}

/* Uploader: List of items being uploaded */
.resumable-list {overflow:auto; margin-right:-20px;}

/* Uploader: Error status */
.is-error .uploader-item:hover, .is-active.is-error .uploader-item {border-color:#900;}
.is-error .uploader-item:hover .uploader-item-title, .is-active.is-error .uploader-item .uploader-item-title {background-color:rgba(153,0,0,0.6);}
.is-error .uploader-item-creating-thumbnail {display:none;}
