/// Styles for components: file-breadcrumbs, file-breadcrumbs-item

// TODO: this should use global "gray"
$color-breadcrumbs-font: #768D9F;

.file-breadcrumbs {
  .spinner-container {
    .spin-spinner {
      .spinner {
        z-index: 1000 !important;
      }
    }
  }

  .file-breadcrumbs-list {
    display: table;

    .file-breadcrumbs-item {
      display: table-cell;

      .file-breadcrumbs-item-inner {
        display: table;
      }

      .file-breadcrumb-item-link {
        display: block;
        max-width: 128px;
      }

      .file-breadcrumbs-element {
        display: table-cell;
      }
      .file-breadcrumbs-next-icon {
        position: relative;
        color: $color-breadcrumbs-font;

        .oneicon {
          position: relative;
          top: 3px;
          left: 0;
          margin-left: 3px;
          margin-right: 4px;
        }
      }
      .file-breadcrumbs-name {
        a {
          color: $color-breadcrumbs-font !important;
        }
      }
    }

  }
}

.data-files-list {
  .file-breadcrumbs {
    // align to first header
    padding: 0 8px;
  }
}
