/// Styles used in file permission modal component and subcomponents

.modal-body.file-permissions-modal {
  padding: 0;

  .row-permissions-type {
    margin-bottom: 10px;
  }

  .col-permission-tool {
    position: relative;
    .permission-tools {
      position: relative;
      right: -38px;
    }
  }

  .permission-tool-icon {
    color: inherit;
    font-size: 28px;

    &.move-up {
      margin-right: -12px;
    }

    &:hover {
      color: $color-button-primary;
      text-decoration: none;
      cursor: hand; cursor: pointer;
    }
  }

  // HACK
  .col-permission-types-checkboxes {
    margin-top: -6px;
  }
}

.ace-items {
  overflow-y: auto;

  .modal-row-main {
    &:nth-child(even) {
      background-color: #F7F7F7;
    }

    // styles for error messages
    .message-icon {
      padding-left: 15px;
    }
    .message-text {
      padding-right: 15px;
    }
  }

  .add-ace {
    display: table;
    color: inherit !important;

    &:hover {
      color: $color-button-primary !important;
      text-decoration: none;
    }

    .oneicon {
      display: table-cell;
      vertical-align: middle;
      font-size: 32px;
    }

    .link-label {
      display: table-cell;
      vertical-align: middle;
      padding-left: 8px;
    }
  }

  .meta-subject {
    text-transform: uppercase;
    font-style: italic;
  }
}


.permission-subject-select2 {
  .oneicon {
    font-size: 32px;
    position: absolute;
    top: -2px;
  }
  .select2-result-label {
    position: relative;
    height: 32px;
    padding: 0;

    .oneicon {
      top: 0;
      left: 3px;
    }
  }
}

.modal .modal-dialog .modal-content {
  .permission-subject-select2 {
    &.select2-container.form-control {
      width: auto;
      margin-right: 8px;
    }

    .select2-choice {
      width: 48px;
      padding-left: 0;
    }

    .select2-chosen {
      height: 26px;
    }
  }
}

.col-permission-subject-selectors {
  display: table;

  .col-permission-subject-type-select, .col-permission-subject-select {
    display: table-cell;
    vertical-align: middle;
  }

  .col-permission-subject-type-select {
    width: 56px;

    // for icons that are not in select
    .oneicon.no-select {
      font-size: 32px;
      top: 2px;
      left: -6px;
    }
  }

  .col-permission-subject-select {
    .select2-choice {
      position: absolute;
      width: 100%;
    }
  }
}

.file-permissions-modal {
  .spinner-container {
    height: 160px;
  }
}
