$file-upload-panel-width: 640px;
$file-upload-panel-height: 240px;
$file-upload-panel-heading-height: 40px;
$file-upload-panel-body-height: $file-upload-panel-height - $file-upload-panel-heading-height;
$file-upload-panel-bottom: 10px;
$file-upload-panel-right: 15px;

$color-file-upload-panel-top-progress: #525559;
$color-file-upload-panel-heading-background: #2F333A;
$color-file-upload-panel-heading-foreground: #FFF;
$color-file-upload-panel-body-background: #F6F6F6;
$color-file-upload-panel-separator: #E4E4E4;
$color-file-upload-panel-progress: #EF3C40;
$color-file-upload-panel-progress-background: #D7D7D7;
$color-file-upload-panel-border-width: 2px;
$color-file-upload-panel-border-radius: 4px;

.panel.file-upload-panel {
  position: fixed;
  right: $file-upload-panel-right;
  bottom: $file-upload-panel-bottom;
  width: $file-upload-panel-width;
  height: $file-upload-panel-height;
  margin: 0px;
  border: $color-file-upload-panel-border-width solid $color-file-upload-panel-heading-background;
  border-radius: $color-file-upload-panel-border-radius;
  
  .panel-heading {
    height: $file-upload-panel-heading-height;
    background-color: $onedata-graphite;
    color: $color-file-upload-panel-heading-foreground;
    border-radius: 0px;
  }

  .panel-body {
    height: $file-upload-panel-body-height - 2*$color-file-upload-panel-border-width;
    background-color: $color-file-upload-panel-body-background;
    overflow-y: auto;
  }
}

.file-upload-hidden {
  .panel.file-upload-panel {
    bottom: -$file-upload-panel-bottom - $file-upload-panel-height;
    transition: bottom .25s ease-out;
  }
}

.file-upload-visible {
  .panel.file-upload-panel {
    bottom: $file-upload-panel-bottom;
    transition: bottom .25s ease-out;
  }
}

/* Uploader: Progress bar */
.resumable-progress {
  margin: 5px 0 15px 0; 
  width: 100%;
  table {
    width: 100%;
  }
}
.progress-container {
  height: 7px;
  background: $color-upload-progress-bg;
  position: relative;
}

.progress-bar {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  background: $color-upload-progress-fg;
  width:0;
}

.progress-text {
  font-size: 11px;
  line-height: 9px;
  padding-left: 10px;
  width: 40px;
  text-align: right;
}

/* Uploader: List of items being uploaded */
.resumable-list {
  overflow: auto;
}
