.metadata-basic-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 10px;
  th {
    width: 200px;
    padding-right: 20px;
    text-align: right;
    vertical-align: top;
  }

  .basic-new-entry {
    text-align: right;
    input.basic-new-entry-key {
      text-align: right;
    }
    &.invalid {
      input.basic-new-entry-key {
        color: $color-panel-red !important;
      }
    }
  }

  .basic-entry-button-cell {
    position: relative;
    width: 32px;

    .basic-entry-button {
      display: inline;
      font-size: 28px;
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 10px;
      cursor: pointer;
      cursor: hand;
      color: $color-toolbar-icon-disabled;

      &:hover {
        color: $color-toolbar-icon-hover;
      }

      .oneicon {
        // pull the icon down
        top: 3px;
      }
    }
  }

  .basic-metadata-key-truncate {
    max-width: 200px;
  }

}

.metadata-panel {
  &.empty-metadata {
    min-height: 150px;
  }
  textarea {
    font-family: monospace;
    resize: vertical;
  }
  textarea.basic-value {
    margin-right: 120px;
    &:read-only {
      background-color: inherit;
    }
  }
  textarea.large {
    min-height: 280px;
    width: 100%;
  }
  .parse-error {
    textarea {
      color: $onedata-red;
    }
    .parse-status-panel {
      color: $onedata-red;
    }
  }
  .parse-status-panel {
    color: $onedata-fresh-green;
  }
}

.save-metadata-row {
  margin-top: 10px;
}


