$color-tab-border: #E0E9EE;
$color-tab-active-background: white;
$color-tab-inactive-background: #F9F9F9;
$color-tab-hover-background: $color-tab-border;
$color-tab-font: #768D9F;

$tab-border-width: 2px;
$tab-border-style: $tab-border-width solid $color-tab-border;

.metadata-panel {
  .nav-tabs {
    border-bottom: $tab-border-style;
  }
  .nav-tabs li {
    margin-bottom: -$tab-border-width;
    margin-right: 4px;
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: $color-tab-active-background;
    border: $tab-border-style;
    border-bottom-color: $color-tab-active-background;
    cursor: default;
  }
  .nav-tabs > li > a {
      margin-right: 2px;
      line-height: 1.5;
      border: $tab-border-style;
      border-radius: 0 0 0 0;
      text-transform: uppercase;
      font-size: 90%;
  }
  .nav > li > a {
      position: relative;
      display: block;
      padding: 10px 30px;
      color: $color-tab-font;
  }

  .nav-tabs > li > a:hover {
    border-color: $color-tab-border;
  }

  .nav > li a {
    background-color: $color-tab-inactive-background;
  }

  .nav > li > a:focus, .nav > li > a:hover {
      text-decoration: none;
      background-color: $color-tab-hover-background;
  }

  .tab-pane {
    padding: 20px;
    border: $tab-border-style;
    margin-top: -$tab-border-width;
    background-color: white;
  }
}

.metadata-basic-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 10px;
  th {
    width: 200px;
    padding-right: 20px;
  }
  td {
    width: 200px;
  }
  .metadata-key {
    color: #32373B; // TODO: color variable
  }
  .metadata-value {
    color: #768D9F;
  }

  .basic-entry-button-cell {
    position: relative;

    .basic-entry-button {
      display: inline;
      font-size: 28px;
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 10px;
      cursor: pointer;
      cursor: hand;
    }
  }


}

.metadata-panel {
  textarea {
    resize: horizontal;
    min-height: 280px;
    width: 100%;
    font-family: monospace;
  }
  .parse-error {
    textarea {
      color: $onedata-red;
    }
    .parse-status-panel {
      color: $onedata-red;
    }
  }
  .parse-status-panel {
    color: $onedata-fresh-green;
  }
}

.save-metadata-row {
  margin-top: 10px;
}
