/// Styles for one-radio-button and one-checkbox-button
/// They are both "one-option"

.one-option-button {
  .one-option-button-container {
    position: relative;
    width: 100%;
    // for max. 2 lines text
    height: 38px;
    margin: 5px 5px 5px 0;
    cursor: hand; cursor: pointer;

    &:hover {
      color: $color-button-primary;
    }

    .option-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateY(5px);
      font-size: 26px;
      color: $color-button-primary;
    }

    .option-label {
      position: relative;
      display: block;
      margin-left: 36px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.one-option-button-line {
  height: 48px;
  line-height: 48px;
}
