.one-table {
  min-width: 100%;

  // TODO: use as generic application-wide "a" style?
  a {
    color: inherit !important;
    &:active, &.active {
      color: $onedata-red !important;
    }
    &:hover {
      text-decoration: underline !important;
    }
  }

  .one-th,
  .one-td {
    text-align: center;

    // TODO: make dynamic
    &.one-first {
      text-align: left;
    }
  }

  .one-thead {
    .one-th {
      text-transform: uppercase;
      font-weight: normal;
      height: 80px;
      vertical-align: middle;

      background-color: #2F323A;
    }
  }

  .one-tbody {

    .one-tr {

      &:nth-child(even) {
        background-color: #F5F6F7;
      }

      .one-td {
        height: 46px;
        line-height: 46px;
        vertical-align: middle;
        text-align: center;

        &.one-first {
          text-align: left;
        }

        .one-table-checkbox {
          font-size: $table-checkbox-size;

          // TODO: icons now are another than before

          .oneicon-checkbox-check {
            color: $onedata-azure;
          }

          .oneicon-checkbox-x {
            color: #B2B2B2;
          }

          .oneicon-checkbox-check.modified,
          .oneicon-checkbox-x.modified {
            color: #58C232;
          }
        }

        .one-table-label {
        }
      }
    }
  }
}
