.permissions-table {
  .row-permissions-buttons {
    height: $secondary-sidebar-item-height;
    padding: 12px 5px;

    .btn-permissions {
      &:not(.mobile) {
        float: right;
        margin-left: 20px;
        // fist child is placed right because of float: right
        &:first-of-type {
          margin-right: 20px;
        }
      }

      &.mobile {
        float: left;
        margin-left: 0px;
        margin-right: 20px;
        &:first-of-type {
          margin-left: 20px;
        }
      }
    }
  }

  .item-tool {
    &:hover {
      color: $onedata-red;
    }
  }

  .item-icon {
    width: 76px;
  }

  figure {
    // pull up
    position: relative;
    top: -7px;

    font-size: 2em;
    .oneicon {
      // pull down
      position: relative !important;
      top: 10px !important;
    }
    figcaption {
      text-transform: none;
    }
  }
}
