.query-options {
  .query-string {
    &.truncate {
      display: inline-block;
      width: 500px;
      max-width: 500px;
    }
    .query-string-amp {
      color: $onedata-gray;
    }
    .query-string-value {
      color: $onedata-red;
    }
    .query-string-key {
      color: $onedata-azure;
    } 
  }
}
