.share-info-head {
  .share-top-row {
    display: table;
    width: 100%;
    > * {
      display: table-cell;
    }
    .share-top-row-name {

    }
    .share-top-row-publish {
      width: 200px;
      text-align: right;
    }
  }

  .share-name {
    font-size: 30px;
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 10px;
    th {
      width: 120px;
    }
    td {
      width: auto;
    }
  }

  .input-with-button {
    max-width: 500px;
  }
}
