.transfers-data-container {
  h1, h2 {
    font-size: 100%;
    text-transform: uppercase;
    margin: 0;
    padding: 17px 0px;
    font-weight: bold;
    .btn-group {
      position: relative;
      top: -9px;
    }
  }

  h1 {
    border-bottom: 1px solid $color-toolbar-separator;
    padding: 22px 15px;
  }

  .transfers-throughput-distribution {
    .chart-row {
      max-width: 600px;
      margin: 0 auto;
    } 
  }

  .map-column {
    overflow: hidden;
  }

  .map-container {
    .one-atlas {
      padding-top: 73%;
      margin-bottom: -15%;
    }
  }

  .transfers-transfer-chart {
    $-ct-chart-padding-top: 40px;
    
    position: relative;
    .loadable-row {
      // height of chart + top-padding (TODO: parametrize height of chart?)
      min-height: 160px + $-ct-chart-padding-top;
    }
    .btn-group {
      position: absolute;
      top: $padding-small-vertical;
      left: $padding-small-vertical;
    }
    .ct-chart {
      padding-top: 40px;
      margin-bottom: 0;
    }
    .ct-area {
      fill-opacity: 0.5;
    }
    .ct-line {
      stroke-width: 2px;
    }
    .ct-point {
      stroke-width: 7px;
    }
    .ct-grid.ct-vertical {
      stroke: darken($onedata-light-gray, 9%);
    }
    .ct-tooltip-entry::before {
      height: 0;
      width: 0;
      border-color: inherit;
      border-width: 5px;
    }
    .ct-label.ct-vertical.ct-start {
      white-space: nowrap;
    }
  }

  .one-collapsible-list-item-header.row {
    padding-left: $padding-large-horizontal;
    padding-right: 45px;;
  }

  .one-collapsible-list {
    .chart-row {
      overflow-x: scroll;
      padding-top: 100px;
      margin-top: -100px;
    }
    svg {
      min-width: 400px;
    }
  }

  .item-icon-container {
    display: inline-block;
    font-size: 170%;
    vertical-align: top;
    line-height: 0;
  }

  .content-row {
    border-bottom: 1px solid $one-main-border-color;
    padding: $padding-large-vertical 0;
    margin: 0 $padding-large-horizontal;
    &:last-child {
      border-bottom: none;
    }
  }
  
  // FIXME: should they be here? draft of styles
  
  .transfer-file-icon {
    font-size: 32px;
    line-height: 20px;
    float: left;
  }
  
  // .transfer-file-name {
  //   padding-left: 12px;
  //   float: left;
  // }

  .transfers-table {
    tr.data-row {
      // to hold a absolute-positioned spinner
      position: relative;
      &:hover {
        background-color: $onedata-light-gray;
        cursor: pointer;
      }
      &.expanded-row {
        background-color: darken($onedata-light-gray, 5%);
        &:hover {
          background-color: darken($onedata-light-gray, 9%);
        }
      }
      .loadable-row {
        min-height: 24px;
      }
    }
    th, td {
      padding: 16px 8px;
      text-align: center;
      &:first-child {
        text-align: left;
      }
    }

    .expand-row td {
      background-color: $onedata-light-gray;
    }
    
    table {
      table-layout: fixed;
      thead {
        th {
          border-bottom-width: 1px;
          .oneicon {
            vertical-align: middle;
          }
        }
      }
    }
  }
  .cell-file-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .cell-status {
    font-size: 1.5em;
    line-height: 0;
    vertical-align: middle;
    &.success {
      color: $color-one-mint;
    } &.failure {
      color: $color-one-red;
    }
  }
}
