.transfers-container {
  h1, h2 {
    font-size: 100%;
    text-transform: uppercase;
    margin: 0;
    padding-top: 18px;
    padding-bottom: 16px;
    .btn-group {
      position: relative;
      top: -9px;
    }
  }

  .transfer-throughput-distribution {
    .chart-row {
      max-width: 600px;
      margin: 0 auto;
    }
  }

  .map-container {
    .one-atlas {
      padding-top: 73%;
      margin-bottom: -15%;
    }
  }
}
