.transfers-container {
  h1, h2 {
    font-size: 100%;
    text-transform: uppercase;
    margin: 0;
    padding-top: 18px;
    padding-bottom: 16px;
    .btn-group {
      position: relative;
      top: -9px;
    }
  }

  .transfer-throughput-distribution {
    .chart-row {
      max-width: 600px;
      margin: 0 auto;
    }
  }

  .map-container {
    .one-atlas {
      padding-top: 73%;
      margin-bottom: -15%;
    }
  }

  .transfer-chart {
    .ct-chart {
      margin-bottom: 0;
    }
    .ct-series-a-tooltip::before {
      background-color: $color-one-mint;
      border-color: $color-one-mint;
    }
    .ct-series-a {
      line, path {
        stroke: $color-one-mint;
      }
    }
    .ct-label.ct-vertical.ct-start {
      white-space: nowrap;
    }
  }

  .one-collapsible-list-item-header.row {
    padding-left: $padding-large-horizontal;
    padding-right: $padding-large-horizontal;
  }

  .one-collapsible-list {
    .chart-row {
      overflow-x: scroll;
      padding-top: 100px;
      margin-top: -100px;
    }
    svg {
      min-width: 400px;
    }
  }

  .item-icon-container {
    display: inline-block;
    font-size: 170%;
    vertical-align: top;
    line-height: 0;
  }

  .content-row {
    border-bottom: 1px solid $one-main-border-color;
    padding: $padding-large-vertical 0;
    margin: 0 $padding-large-horizontal;
    &:last-child {
      border-bottom: none;
    }
  }
}
