gui:
  image: docker.onedata.org/oz-gui-default:VFS-1825
  restart: always
  volumes:
    - /var/www/html

onezone:
  image: docker.onedata.org/onezone:3.0.0.alpha3.1.g47b3bc1
  container_name: oz
  hostname: onedata.localhost.local
  restart: always
  volumes_from:
    - gui
  links:
    - gui
