<div class="container-fluid">
  {{!-- FIXME collapsible ACL elements (rows) --}}
  <div class="modal-row large-space">
    {{#each fileAcl.acl as |ace|}}
      {{file-permissions/acl/ace-item
        file=file
        ace=ace
        systemUsers=systemUsers
        systemGroups=systemGroups
        removeAceItemAction='removeAceItem'
        moveUpAction='moveUp'
        moveDownAction='moveDown'
      }}
    {{/each}}
  </div>
  <div class="modal-row large-space">
    {{#bs-button action="createAce"}}
      Add
    {{/bs-button}}
  </div>
</div>
