{{!-- FIXME collapsible ACL elements (rows) --}}
<div class="ace-items">
  {{#each fileAcl.acl as |ace|}}
    <div class="modal-row modal-row-main">
      {{file-permissions/acl/ace-item
        file=file
        ace=ace
        systemUsers=systemUsers
        systemGroups=systemGroups
        removeAceItemAction='removeAceItem'
        moveUpAction='moveUp'
        moveDownAction='moveDown'
      }}
    </div>
  {{/each}}
  <div class="modal-row modal-row-main">
    <a {{action "createAce"}} class="add-ace clickable">
      {{icon 'add'}} <span class="link-label">Add</span>
    </a>
  </div>
</div>
