{{share-info-head share=model openDataDir="openDataDir"}}

{{!-- TODO: metadata-panel --}}
{{#if model.file.metadata}}
  <div class="op-panel op-panel-azure">
    {{metadata-panel metadata=model.file.metadata}}
  </div>
{{/if}}

{{#bs-button action="createMetadata"}}
  Create metadata
{{/bs-button}}

<div class="op-panel op-panel-red">
  <div class="files-list">
    {{#if directory}}
      {{data-files-list dir=directory openDirInBrowser='openDirInBrowser'
        openFileShareModal='openFileShareModal' rootDir=model.file
        breadcrumbsEnabled=true uploadEnabled=false}}
    {{/if}}
  </div>
</div>
