{{share-info-head share=model openDataDir="openDataDir"}}

<div class="op-panel op-panel-red">
  <div class="files-list">
    {{#if directory}}
      {{data-files-list dir=directory openDirInBrowser='openDirInBrowser'
        openFileShareModal='openFileShareModal'
        breadcrumbsEnabled=true uploadEnabled=false
        downloadMode='shared'}}
    {{/if}}
  </div>
</div>
