{{#if (gt model.length 0)}}
  {{outlet}}
{{else}}
{{!-- TODO: translate --}}
<div class="inner-content content-error">
  You do not belong to any group.
  <br>
  <br>
  Use the buttons in the left sidebar to create <span class="inline-button">{{icon 'group-add'}}</span> a new group or join <span class="inline-button">{{icon 'join'}}</span> an existing group.
</div>
{{/if}}
