<div class="common-loader-container">
  <div class="common-loader-spinner"></div>
  <div class="common-loader-message">
    {{#if message}}
      {{message}}
    {{else}}
      {{t 'components.commonLoader.defaultMessage'}}
    {{/if}}
  </div>
  {{#if messageSecondary}}
    <div class="common-loader-message secondary">
      {{messageSecondary}}
    </div>
  {{/if}}
</div>
