.one-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;

  &.one-overlay-fog {
    background-color: rgba($color-main-background, 0.5);
  }  
}
