%% rebar plugins
{plugins, [rebar3_hex, rebar3_elixir]}.

%% behaviours should be compiled before other files
{erl_first_files, [
]}.

{erl_opts, [
    fail_on_warning,
    debug_info
]}.

%% eunit opts - Maven-like output formatting
{eunit_opts, [
    verbose,
    {report, {eunit_surefire, [{dir, "./test/eunit_results"}]}}
]}.

%% Test coverage
{cover_enabled, true}.

%% deps directory
{lib_dirs, ["deps"]}.

{deps, [
    {cowboy, {git, "git://github.com/RoXeon/cowboy.git", {tag, "websocket_payload_nif"}}},
    {ctool, {git, "ssh://git@git.plgrid.pl:7999/vfs/ctool.git", {ref, "401dddf6a"}}}
]}.

%% pre-hooks
{pre_hooks, [
    {eunit, "mkdir -p test/eunit_results"}, %% Make dir for eunit' surefire test results
    {eunit, "epmd -daemon"} %% Sometimes, in some cases epmd daemon doesn't start during eunit tests, so we need to force start it
]}.

%% post-hooks
{post_hooks, [

]}.

%% Cleanup
{clean_files, ["test/eunit_results"]}.

{overrides,
    [{override, cowboy, [
        {plugins, [pc]},
        {artifacts, ["priv/websocket_utils.so"]},
        {provider_hooks, [
            {post,
                [
                    {compile, {pc, compile}},
                    {clean, {pc, clean}}
                ]
            }]
        }
    ]}
]}.
