{{#if canViewPermissions}}
  {{permissions-table subjectType="space"
    groupsPermissions=model.permissions subject=model.subject}}
{{else}}
  {{!-- TODO: translations --}}

  <div class="inner-content content-error">
    You do not have privileges to view members of this space.
  </div>
  <div class="content-error-icon glyphicon glyphicon-ban-circle"></div>
{{/if}}


{{page-title (t 'spaces.show.groups.title')}}
