{{!-- TODO: translate --}}
<div class="inner-content content-error">
  Selected space or directory cannot be synchronized.
</div>
<div class="content-error-icon glyphicon glyphicon-ban-circle"></div>
