<div class="item-icon">
  {{one-icon icon="provider"}}
</div>
{{#truncated-string class="item-label" tooltipPlacement="right"}}
  {{providerName}}
  {{#if disabled}}
    ({{t "components.dataFilesListToolbar.fileChunksModal.migratePopover.migrateItem.busy"}})
  {{/if}}
{{/truncated-string}}
