{{#truncated-string}}
  <span class="item-icon">
    {{one-icon icon="provider"}}
  </span>
  <span class="item-label">
    {{providerName}}
    {{#if disabled}}
      ({{t 'components.dataFilesListToolbar.fileChunksModal.migratePopover.migrateItem.busy'}})
    {{/if}}
  </span>
{{/truncated-string}}
