<div class="row modal-row-form-label">
  {{t (concat translationBase '.label')}}
</div>
<div class="row modal-row-form-sublabel">
  {{t (concat translationBase '.sublabel')}}
</div>
<div class="row modal-row-form-input">
  {{yield}}
</div>
