<li class="menu-group-name">
  {{t "components.dataFilesListToolbar.fileChunksModal.migrateFileDataInto"}}:
</li>
{{#each visibleProviders as |p|}}
  {{#truncated-string
    tagName="li"
    class="clickable"
    click=(action "startMigration" p.id)
  }}
    <span class="item-icon">
      {{one-icon icon="provider"}}
    </span>
    <span class="item-label">
      {{p.name}}
    </span>
  {{/truncated-string}}
{{/each}}
