<li class="menu-group-name">Migrate file data into:</li>
{{#each visibleProviders as |p|}}
  <li {{action "startMigration" p.id}} class="clickable">
    <span class="item-icon">
      {{one-icon icon="provider"}}
    </span>
    <span class="item-label">
      {{p.name}}
    </span>
  </li>
{{/each}}
