<div class="secondary-sidebar-item">
  <span class="item-element item-click-area">
    <span class="item-icon">
      {{icon icon 'color-space'}}
    </span>
    <span class="item-label">
      {{label}}
    </span>
  </span>
</div>
