<div class="form-group">
  {{input type="text" value=inputValue autofocus=autofocus readonly=true
    class='ember-view ember-text-field form-control'}}
</div>
{{#copy-button success='copySuccess' error='copyError'
  clipboardTarget=clipboardTarget class="btn btn-primary btn-right"}}
  {{icon 'copy'}}
{{/copy-button}}
