{{!-- TODO: should use common component template for *-settings-dropdown --}}

<div class="dropdown settings-dropdown">
  <div href="#" class="dropdown-toggle" data-toggle="dropdown"
    role="button" aria-haspopup="true" aria-expanded="false">
    <span class="item-element item-icon transparent-not-hovered settings-icon">
      {{icon 'settings'}}
    </span>
  </div>
  <ul class="dropdown-menu dropdown-menu-right dropdown-menu-list share-dropdown-menu dropdown-menu-settings">
    {{#each menuItems as |item|}}
      <li {{action item.action space}} class="clickable">
        <span class="item-icon">
          {{icon item.icon}}
        </span>
        <span class="item-label">
          {{item.label}}
        </span>
      </li>
    {{/each}}
  </ul>
</div>
