{{#if showTooltip}}
  {{#bs-tooltip title=tooltipText}}
    <div class="truncate truncated-string-content">
      {{yield}}
    </div>
  {{/bs-tooltip}}
{{else}}
  <div class="truncate truncated-string-content" title="{{tooltipText}}">
    {{yield}}
  </div>
{{/if}}
