<div class="row">
  Name: {{model.name}}
</div>
<div class="row">
  Directory: {{model.file.name}}
</div>
<div class="row">
  Type: {{model.shareType}}
</div>
<div class="row">
  Public access: {{model.publicAccess}}
</div>
