{{#if (or message messagePrefix)}}
  <div class="alert {{alertClass}}">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{#if messagePrefix}}
      <strong>{{messagePrefix}}</strong>
    {{/if}}
    {{#if message}}
      {{#if messagePrefix}}
        &ensp;
      {{/if}}
      {{message}}
    {{/if}}
  </div>
{{/if}}
