$responsive-multiplier: 0.8;

$provider-name-conainer-width: 460px;

$secondary-sidebar-width: 252px;
$secondary-sidebar-icon-font-size: 30px;
$secondary-sidebar-font-size: 13px;

$cell-width: 68px;
$table-font-size: 0.78em;
