$responsive-multiplier: 0.5;

$top-bar-height: 56px;
$top-bar-background-color: #363A42;
$content-padding: 0;

$secondary-sidebar-width: 202px;
$secondary-sidebar-icon-font-size: 30px;
$secondary-sidebar-font-size: 12px;
