<th>
  {{key}}
</th>
<td>
  {{value}}
</td>
<td class="basic-entry-button-cell table-space-fill">
  {{#unless readOnly}}
  <div class="basic-entry-button" {{action "remove"}}>
    {{icon 'close'}}
  </div>
  {{/unless}}
</td>
