<th>
  {{input value=newKey placeholder="Attribute" class="basic-new-entry-key"
    enter="trySubmit" disabled=isSubmitting}}
</th>
<td>
  {{input value=newValue placeholder="Value" class="basic-new-entry-value"
    enter="trySubmit" disabled=isSubmitting}}
</td>
