<th>
  {{#truncated-string class="basic-metadata-key-truncate"}}
    {{key}}
  {{/truncated-string}}
</th>
<td>
  {{textarea value=value class="form-control basic-value" readonly=true}}
</td>
<td class="basic-entry-button-cell">
  {{#unless readOnly}}
  <div class="basic-entry-button" {{action "remove"}}>
    {{one-icon icon='close'}}
  </div>
  {{/unless}}
</td>
