{{!-- A Spaces view: sidebar with spaces list and content (if fit to screen) --}}
{{page-title (t 'shares.title')}}

{{!-- Secondary sidebar --}}
<nav class="secondary-sidebar">
  {{shares-menu shares=model goToShare='goToShare' transitionTo='transitionTo'}}
</nav>

<div id='content-scroll'>
  {{outlet}}
</div>
