{{!-- A Spaces view: sidebar with spaces list and content (if fit to screen) --}}
{{page-title (t 'transfers.title')}}

{{!-- Secondary sidebar --}}
<nav class="secondary-sidebar">
  {{transfers-menu 
    spaces=model 
    goToTransfersForSpace=(action "goToTransfersForSpace")
  }}
</nav>

<div id='content-scroll'>
  {{outlet}}
</div>
