{{!-- TODO: dir path or name? --}}
{{page-title (t 'data.dataSpace.dir.title')}}

{{modals/share-info open=isShowingShareInfo
    share=(if isShowingShareInfo share null)
    transitionTo="transitionTo"
  }}

{{modals/create-share open=isCreatingShare openShareInfoModal="openShareInfoModal"
    file=(and isCreatingShare fileShareFile)}}

<div class="files-list">
  {{data-files-list dir=(readonly model)
    openDirInBrowser='openDirInBrowser'
    openFileShareModal='openFileShareModal'}}
</div>
