<div class="one-list">
  {{#each displayedProperties as |property|}}
    <div class="one-list-row">
      <span class="one-list-row-label">
        {{t (concat "components.modals.dbViewModal.tabGeneral." property)}}:
      </span>
      <span class="one-list-row-value">
        {{get this property}}
      </span>
    </div>
  {{/each}}
  <div class="one-list-row row-query-options">
    <span class="one-list-row-label">{{t "components.modals.dbViewModal.tabGeneral.viewOptions"}}:</span>
      {{query-options options=viewOptions}}
  </div>
</div>
