{{#bs-modal open=open body=false footer=false
  id=modalId
  title=title
  openAction="open"
  openedAction="opened"
  keyboard=true
  autoClose=true
  backdropClose=true
  closeButton=true
}}
  {{#bs-modal-body}}
  
  <p>
    FIXME: redirection to oneprovider
  </p>
  
  
  {{/bs-modal-body}}
  {{#bs-modal-footer as |footer|}}
    {{#spin-button-onedata buttonType="submit"
      action=(if canSubmit "submit")
      class="btn btn-primary no-outline" spinnerColor="#fff"
      inFlight=isLoading
      disabled=(not canSubmit)
    }}
      {{t "common.modal.ok"}}
    {{/spin-button-onedata}}
    {{#bs-button action=(action "close" target=footer) type="default"
      disabled=isLoading
    }}
      {{t "common.modal.cancel"}}
    {{/bs-button}}
  {{/bs-modal-footer}}
{{/bs-modal}}
