{{!-- FIXME: better styles, file name text truncate --}}

{{one-icon icon=icon class="transfer-file-icon"}}
<div class="transfer-file-name">{{fileName}}</div>
{{bs-tooltip placement="top" title=hint}}

