.common-loader {
  position: fixed;
  z-index: 9999;
  right: 0;
  bottom: 0;

  .common-loader-container {
    .common-loader-spinner {
    }

    .common-loader-message-container {
      position: absolute;
      top: 0;
      transform: translateY(40%) translateY(75px);
      bottom: 0;
      left: 0;
      right: 0;

      .common-loader-message {
        font-size: 32px;
        text-align: center;

        &.secondary {
          margin-top: 10px;
          font-size: 24px;
        }
      }
    }
  }

  &.semi-transparent {
    background-color: rgba($onedata-light-gray, 0.75);
  }
}
